A function is a block of code which only runs when it is called.
You can pass data , known as parameters , into a function
A function can return data as a result.

In [ ]:
#syntax

def function_name(name , age):

  print(name)
  print(age)

  return name

print(function_name('fida' , 21))

fida
21
fida

In [ ]:
#function without argument
def function_name():

  a = int(input('enter the number1 : '))
  b = int(input('enter the number2 : '))

  return a + b

print(function_name())

enter the number1 : 99
enter the number2 : 1
100

In [ ]:
#function with argumet
def function_name(a,b):

  a = int(input('enter the number1: '))
  b = int(input('enter the number2: '))

  return a+b

print(function_name(4,6))

enter the number1: 8
enter the number2: 4
12

In [ ]:
#function with argumet
def function_name(a,b):

  a = int(input('enter the number1: '))
  b = int(input('enter the number2: '))

  return a+b

print(function_name(1,2))

enter the number1: 8
enter the number2: 3
11

In [ ]:
#function without argumet and without return type
def function_name():

  a = int(input('enter the number1: '))
  b = int(input('enter the number2: '))
  sum = a+b
  print(sum)


print(function_name())

enter the number1: 85
enter the number2: 44
129
None

In [ ]:

def function_name(a,b):

  sub = a - b

  return sub

print(function_name(1,9))

-8

In [ ]:
# default arguments and non default arguments

def sub(a ,b = 40):

  if a > b :
    sub = a - b
  else :
    sub = b - a

  return sub

print(sub(9))

#non default arguments cann not be passed after default arguments

31

In [ ]:
# default arguments and non default arguments

def add(a,c,d,b=80):
   add = a+b+c+d
   return add

print (add(9,50,50,23))

132

In [ ]:
def sub(a ,b = 30 , c = 12):

  if a > b :
    sub = a - b
  else :
    sub = b - a

  return sub

print(sub(9))

21

In [ ]:
def factorial (num):
  factorial = 1

  if num < 0:
    print('factorial does not exist for nagative numbers ')

  elif num == 0 :
   print('factorial of zero is 1')

  else :
    for i in range (1 , num + 1 ):

      factorial = factorial * i

  return factorial

print(factorial(5))

120

In [ ]:
def sum1 (a,b,c):
  sum2 = a+b+c
  return sum2
print(sum1(50,60,53))

163

In [ ]:
def sum1 (*args):
  print(*args)

   #sum2 = sum (*args)
   #return sum2
print(sum1(50,60,53,56,52,87,12,54))

50 60 53 56 52 87 12 54
None

In [ ]:
def func(string):

  vowels = 'aeiouAEIOU'

  for i in string:

    if i in vowels:
      string = string.replace(i, '')

  return string

print(func('fidarasheed'))

fdrshd

**DECORATOR FUNCTION**

In [ ]:
def sub (n1 , n2):

  return n1 - n2

def div (n1 , n2):

  return n1/n2

print(sub(4,12))
print(div(5,10))

-8
0.5

In [ ]:
def sub (n1 , n2):

  if n1<n2:
    (n1 , n2) = (n2 , n1)

  return n1 - n2

def div (n1 , n2):

  if n1<n2:
    (n1 , n2) = (n2 , n1)

  return n1/n2

print(sub(4,8))

print(div(10,5))

4
2.0

In [ ]:
def swap_num(fn):   #decorator function

  def wrapper(n1 , n2):

     if n1<n2:

      (n1 , n2) = (n2 , n1)

     return fn(n1 , n2)

  return wrapper

@swap_num
def sub(n1 , n2):

  return n1 - n2

@swap_num
def div (n1 , n2):

  return n1/n2

print(sub(4,12))

print(div(10,5))

8
2.0